@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    flex: 1 1 auto;
}
