.Button {
    cursor: pointer;
    border-radius: 24px;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--font-color-btn);
    display: inline-flex;
    align-items: center;
}

.clear {
    color: var(--font-color-h);
    background: var(--surface-color-01dp);
}

.primary {
    background: var(--primary-color);
}

.secondary {
    background: var(--secondary-color);
}

.bordered {
    background: none;
    border: 2px solid var(--font-color-disabled);
    color: var(--font-color-h);
}
