.app.dark {
  --bg-color: #101010;
  --bg-color-inverted: #ffffff;
  --surface-color-01dp: rgba(255, 255, 255, 0.05);
  --surface-color-02dp: rgba(255, 255, 255, 0.07);
  --surface-color-03dp: rgba(255, 255, 255, 0.08);
  --primary-color: #0067ff;
  --secondary-color: #2e692e;
}
