.app.dark {
  --bg-color: #121212;
  --bg-color-inverted: #ffffff;
  --surface-color: rgba(255, 255, 255, 0.05);
  --navbar-color: var(--surface-color);
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
}
