.app.dark {
    --bg-color: #101010;
    --bg-color-inverted: #fff;
    --surface-color-01dp: rgb(255 255 255 / 5%);
    --surface-color-02dp: rgb(255 255 255 / 7%);
    --surface-color-03dp: rgb(255 255 255 / 8%);
    --primary-color: #0067ff;
    --secondary-color: #2e692e;
    --font-color-h: rgb(255 255 255 / 87%);
    --font-color-m: rgb(255 255 255 / 60%);
    --font-color-disabled: rgb(255 255 255 / 33%);

    --font-color-btn: #ffffff;
}
